html {
    height: 100%;
}

body {
    /*background-color: grey;*/
    background-image: url('../images/lotto2.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.backgrounds {
    background-image: url('../images/lotto2.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center top;
    display: block;
    min-height: 100%;
    min-width: 100%;

}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 780px;
}
.navcontainer{
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

.box-one {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 100px;
    font-size: 16px;

    text-align: left;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    height: 120px;
}

.box-two {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 100px;
    text-align: center;
    
}

.box-three {
    margin-top: 60px;
    margin-bottom: -50px;

    margin-left: 100px;
    margin-right: 100px;
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    
    height: 360px;
}

header {
    height: 140px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: -25px;
}

nav a{
    text-decoration: none;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    background-color: rgba(0, 0, 0, 0.75);
    height: 480px;
    text-align: center;
    padding-top: 1px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    /*margin-bottom: 50px;*/
}


footer {
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 150px;
    margin-left: 210px;
    margin-right: 210px;
}

footer p {
    font-size: 20px;
    text-align: center;
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h4 {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 22px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    /*text-decoration: none;*/
}

.field {
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 190px;
}

.style {
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.maps {
    padding-bottom: 100px;
}

.yt {
    padding-bottom: 50px;
}