html {
    height: 100%;
}

body {
    /*background-color: grey;*/
    background-image: url('../images/lotto1.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.backgrounds {
    background-image: url('../images/lotto1.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center top;
    display: block;
    min-height: 100%;
    min-width: 100%;

}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 1000px;

}
.navcontainer{
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

.box-one {
    margin-top: 40px;
    margin-bottom: -50px;

    margin-left: 100px;
    margin-right: 100px;
    
    padding-top: 1px;
    padding-bottom: 1px;

    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    
    height: 230px;
}

.box-two {
    margin-top: 100px;
    margin-bottom: -50px;

    margin-left: 100px;
    margin-right: 100px;
    
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
   

    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    
    height: 230px;
}

.box-three {
    margin-top: 60px;
    margin-bottom: -50px;

    margin-left: 100px;
    margin-right: 100px;
    
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    
    height: 190px;
}

header {
    height: 140px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: -25px;
}

nav a{
    text-decoration: none;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    background-color: rgba(0, 0, 0, 0.75);
    height: 300px;
    text-align: center;
    padding-top: 1px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    /*margin-bottom: 50px;*/
}


footer {
    background-color: rgba(0, 0, 0, 0.75);
    
    margin-top: 100px;
    padding-top: 20px;
    margin-left: 230px;
    margin-right: 230px;
    
    padding-bottom: 20px;
    
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


a {
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    /*text-decoration: none;*/
}


.maps {
    padding-bottom: 100px;
}

.yt {
    padding-bottom: 50px;

}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}