html {
    height: 100%;
}

body {
<<<<<<< HEAD
    background-color: grey;
    /*background-image: url(background2.jpg),url(background3.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
=======
    /*background-color: grey;*/
    background-image: url('../images/lotto1.jpg');
    background-size: cover;
    background-repeat: repeat;
>>>>>>> 0ebb8938ea532b3399d79cf918310f224fe37183
    background-position: center;
}

.backgrounds {
<<<<<<< HEAD
    background: url(/Users/mirekkral/Documents/ProjectHTML/2Project/ltr.jpg),url(/Users/mirekkral/Documents/ProjectHTML/2Project/ltr.jpg);
    background-size: cover,cover;
    background-repeat:  repeat-x,repeat-y;
    background-position: center top, center bottom;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 780px;
}

=======
    background-image: url('../images/lotto1.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center top;
    display: block;
    min-height: 100%;
    min-width: 100%;

}

.container {
    /*margin-left: auto;
    margin-right: auto;*/
    margin: auto;
    width: 780px;
}

.navcontainer{
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

>>>>>>> 0ebb8938ea532b3399d79cf918310f224fe37183
.box-one {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 100px;
    font-size: 16px;
<<<<<<< HEAD
=======
    margin-right: auto;
    margin-left: auto;
>>>>>>> 0ebb8938ea532b3399d79cf918310f224fe37183

    text-align: left;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

<<<<<<< HEAD
    height: 70px;
=======
    height: auto;
    width: 450px;
>>>>>>> 0ebb8938ea532b3399d79cf918310f224fe37183
}

.box-two {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 100px;
    text-align: center;
    
}

.box-three {
    margin-top: 60px;
    margin-bottom: -50px;

<<<<<<< HEAD
    margin-left: 90px;
    margin-right: 90px;
=======
    /*margin-left: 90px;
    margin-right: 90px;*/
    margin-left:auto;
    margin-right: auto;
>>>>>>> 0ebb8938ea532b3399d79cf918310f224fe37183
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
<<<<<<< HEAD

    text-align: center;
=======
    padding-right: 20px;


>>>>>>> 0ebb8938ea532b3399d79cf918310f224fe37183
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    
<<<<<<< HEAD
    height: 450px;
=======
    height: auto;
    width: 660px;
>>>>>>> 0ebb8938ea532b3399d79cf918310f224fe37183
}

header {
    height: 140px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: -25px;
}

nav a{
    text-decoration: none;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    background-color: rgba(0, 0, 0, 0.75);
    height: 480px;
    text-align: center;
    padding-top: 1px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    /*margin-bottom: 50px;*/
}


footer {
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 150px;
    margin-left: 210px;
    margin-right: 210px;
}

footer p {
    font-size: 20px;
    text-align: center;
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h4 {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 22px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    /*text-decoration: none;*/
}

.field {
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 45px;
}

.style {
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.maps {
    padding-bottom: 100px;
}

.yt {
    padding-bottom: 50px;
<<<<<<< HEAD
=======
}

.button {
    width: 200px;
    height: 40px;
    font-size: 25px;
>>>>>>> 0ebb8938ea532b3399d79cf918310f224fe37183
}