<!DOCTYPE html>
<html lang="en"
		xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link rel="stylesheet" href="style_foot.css">
</head>

<body class="backgrounds">
    <div class="container">
        <nav>
            <a href="home.html">HOME</a>
            <a href="kontakt.html">KONTAKT</a>
            <a href="meinProfil.html">MEIN PROFIL</a>
            <a href="1_catalog.html">KATALOG</a>
        </nav>
        
        <main class="box-one">
            <h2 class="box-two">Übersicht der Fußballspiele</h2>
        </main>

         <div class="box-three">
            <div th:each="football : ${footballcatalog}">

                    <div>
                    Bundesliga: <div th:text="${football.league}">1. Bundesliga</div>
                    <br><br>
                    Datum: <div th:text="${football.date}">11.11.2021</div>
                    <br><br>
                        </div>
                    <table border = "5" cellpadding = "5" cellspacing = "0"  class ="center">
                        <tr>
                            <th>Gast</th>
                            <th>Heim</th>
                            <th>Spielstand</th>
                            <th>Einsatz</th>
                            <th>Wettoption</th>
                        </tr>
                        <tr>
                            <td rowspan = "3"><div th:text="${football.guest}">BVB</div></td>
                            <td rowspan = "3"><div th:text="${football.host}">FC Bayern Muenchen</div></td>
                            <td>Gast gewinnt</td>
                            <td><div th:text="${football.price2}">30</div></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Heim gewinnt</td>
                            <td><div th:text="${football.price2}">30</div></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Unentschieden</td>
                            <td><div th:text="${football.price2}">30</div></td>
                            <td>3</td>
                        </tr>
                    </table>

                    <form class="ui form" th:method="post" th:action="@{/lottery/footbit}">
                        <input type="hidden" name="id" value="0" th:value="${football.id}"/>
                        <div class="field" >
                            <label th:text="#{fussball.wette}" for="fussballwette">Wettoption (1,2 oder 3):  </label>
                            <input th:field="*{fussballwette}" id="fussballwette" type="number" name="fussballwette" min="1" max="3" required="required"/><br/>
                        </div>
                        <button type="submit" class="ui button" th:text="#{fussball.addWette}">Jetzt wetten</button>
                    </form>
                </div>

            </div>
        </div>


        <br>

        

        <br>

        <footer>
            <p>Mach Dein Glück!! ©Copyright 2021©</p>
        </footer>

    </div>

</body>

</html>

https://www.bundesliga.com/de/2bundesliga/tabelle

https://www.bundesliga.com/de/bundesliga/tabelle