<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link rel="stylesheet" href="style_num.css">
</head>

<body class="backgrounds">
    <div class="container">
        <nav>
            <a href="https://www.bk.com/">HOME</a>
            <a href="https://www.bk.com/contact-us">KONTAKT</a>
            <a href="">MEIN PROFIL</a>
            <a href="">KATALOG</a>
        </nav>
        
        <main class="box-one">
            <h2 class="box-two">Kreuze deine Glückszahlen!</h2>
            <h4 class="box-two">"6 aus 49"</h4>
        </main>

        <div class="box-three">
            <table border = "5" cellpadding = "5" cellspacing = "0">
                <tr>
                    <th><a href="">1</a></th>
                    <th><a href="">2</a></th>
                    <th><a href="">3</a></th>
                    <th><a href="">4</a></th>
                    <th><a href="">5</a></th>
                    <th><a href="">6</a></th>
                    <th><a href="">7</a></th>
                </tr>
                <tr>
                    <th><a href="">8</a></th>
                    <th><a href="">9</a></th>
                    <th><a href="">10</a></th>
                    <th><a href="">11</a></th>
                    <th><a href="">12</a></th>
                    <th><a href="">13</a></th>
                    <th><a href="">14</a></th>
                </tr>
                <tr>
                    <th><a href="">15</a></th>
                    <th><a href="">16</a></th>
                    <th><a href="">17</a></th>
                    <th><a href="">18</a></th>
                    <th><a href="">19</a></th>
                    <th><a href="">20</a></th>
                    <th><a href="">21</a></th>
                </tr>
                <tr>
                    <th><a href="">22</a></th>
                    <th><a href="">23</a></th>
                    <th><a href="">24</a></th>
                    <th><a href="">25</a></th>
                    <th><a href="">26</a></th>
                    <th><a href="">27</a></th>
                    <th><a href="">28</a></th>
                </tr>
                <tr>
                    <th><a href="">29</a></th>
                    <th><a href="">30</a></th>
                    <th><a href="">31</a></th>
                    <th><a href="">32</a></th>
                    <th><a href="">33</a></th>
                    <th><a href="">34</a></th>
                    <th><a href="">35</a></th>
                </tr>
                <tr>
                    <th><a href="">36</a></th>
                    <th><a href="">37</a></th>
                    <th><a href="">38</a></th>
                    <th><a href="">39</a></th>
                    <th><a href="">40</a></th>
                    <th><a href="">41</a></th>
                    <th><a href="">42</a></th>
                </tr>
                <tr>
                    <th><a href="">43</a></th>
                    <th><a href="">44</a></th>
                    <th><a href="">45</a></th>
                    <th><a href="">46</a></th>
                    <th><a href="">47</a></th>
                    <th><a href="">48</a></th>
                    <th><a href="">49</a></th>
                </tr>
            </table>
            <br>
            <button type="submit" class="ui button" th:text="#{register.submit}">Tippschein Abgeben</button>
                
       </div>

       
   
        <footer>
            <p>Mach Dein Glück!! ©Copyright 2021©</p>
        </footer>

    </div>

</body>

</html>