<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link th:href="@{resources/css/style_statistic.css}" rel="stylesheet" href="../static/resources/css/style_statistic.css">
</head>



<body class="backgrounds">
<nav th:include="navigation :: navigation"></nav>
<div class="container">
    <main style="height: auto; padding-bottom: 30px">
        <h3>Löschung von Konten</h3>
        <h4 style="color: white">Möchten Sie Ihr Profil löschen?</h4>

<!--        <button type="submit" class="button">confirm</button>-->

        <div>
            <form sec:authorize="hasRole('CUSTOMER')" class="ui form" method="post" th:action="@{/deactivate}">
                <button type="submit" class="ui button" th:text="#{account.deactive}">Profil löschen</button>
            </form>

            <h2 style="color: red" th:text="${message}"></h2>
        </div>

        <br>

        <div>
            <form sec:authorize="hasRole('CUSTOMER')" class="ui form" method="post" th:action="@{/back}">
                <button type="submit" class="ui button" th:text="#{account.back}">Zurück zum Profil</button>
            </form>
        </div>



    </main>

    <footer>
        <p>Mach Dein Glück!! ©Copyright 2021©</p>
    </footer>

</div>
</body>
</html>