<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link th:href="@{resources/css/style_statistic.css}" rel="stylesheet" href="../static/resources/css/style_statistic.css">
</head>



<body class="backgrounds">
<nav th:include="navigation :: navigation" class="navcontainer"></nav>
<div class="container">
    <main class="box-one">
        <h3>Guthaben</h3>

        <table border = "5" cellpadding = "5" cellspacing = "0"  class ="center" style="margin: auto; border-color: white">
            <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Email</th>
                <th>Guthaben</th>
            </tr>
            </thead>
            <tr>
                <td th:text="${firstname}"></td>
                <td th:text="${lastname}"></td>
                <td th:text="${email}"></td>
                <td th:text="${balance}"></td>
            </tr>
        </table>

        <form method="post" sec:authorize="hasRole('CUSTOMER')" th:action="@{/balance/charge}">
            <br>
            <div>
                <label th:text="#{charge.input}" >Wie viel Geld?  </label>
                <input field="*{money}" id="money" name="money" type="number" step=".01" required="required"/>
                </br></br>

                <button class="button" type="submit" th:text="#{charge.charge}" >Aufladen</button>

            </div>
        </form>
    </main>

    <footer>
        <p>Mach Dein Glück!! ©Copyright 2021©</p>
    </footer>

</div>

</body>

</html>