<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link th:href="@{resources/css/style_statistic.css}" rel="stylesheet" href="../static/resources/css/style_statistic.css">
</head>



<body class="backgrounds">
<nav th:include="navigation :: navigation"></nav>
<div class="container">
    <main style="height: auto; padding-bottom: 20px">
        <h3>Passwort ändern</h3>
        <h4>Kriterien</h4>

        <div class="field">
            <ol>
                <li>Name darf nicht leer sein.</li>
                <li>Passwort muss mindestens einen Großbuchstaben enthalten.</li>
                <li>Passwort muss mindestens eine Zahl enthalten.</li>
                <li>Password muss mindestens 8 Zeichen enthalten.</li>
            </ol>
        </div>

        <form method="post" role="form" class="ui form" id="form" th:action="@{/changePassword}" th:object="${registrationForm}">
                <input id="firstname" name="firstname" type="hidden"  th:value="${tempFirstname}"/>
                <input id="lastname" name="lastname" type="hidden" th:value="${tempLastname}" />
                <input id="email" name="email" type="hidden" th:value="${tempEmail}" />

            <div class="style">
                <label th:text="#{register.password}" for="password" style="width: 50px;padding-right: 33px">Passwort:</label>
                <input id="password" name="password" th:field="*{password}" th:errorclass="fieldError"  type="password" required="required" />
            </div>

            <br>

            <div class="style">
                <label th:text="#{register.password2}" for="password">Wiederholung:</label>
                <input id="passwordCheck" name="passwordCheck" th:field="*{passwordCheck}" th:errorclass="fieldError" type="password" required="required"/><br/>
                <p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}"></p>
            </div>

            <br><br>

            <button type="submit" th:text="#{account.changePwd}" th:class="text" style="font-size: 14px">change password</button>

        </form>

<!--        <form method="post" role="form" class="ui form" id="form" th:action="@{/chPwd}" th:object="${registrationForm}">-->
<!--            <div class="style">-->
<!--                <input id="firstname" name="firstname" th:field="*{firstname}" th:type="hidden" th:value="${tempFirstname}">-->
<!--                <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>-->
<!--            </div>-->

<!--            <div>-->
<!--                <input id="lastname" name="lastname" th:field="*{lastname}" th:type="hidden" th:value="${tempLastname}" /><br/>-->
<!--                <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>-->
<!--            </div>-->

<!--            <div class="style">-->
<!--                <input id="email" name="email" th:field="*{email}" th:type="hidden" th:value="${tempEmail}"/><br/>-->
<!--                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>-->
<!--            </div>-->

<!--            <input id="firstname" name="firstname"  th:type="hidden" th:value="${tempFirstname}">-->
<!--            <input id="lastname" name="lastname"  th:type="hidden" th:value="${tempLastname}">-->
<!--            <input id="email" name="email"  th:type="hidden" th:value="${tempEmail}">-->
<!--            <input id="password" name="password"  th:type="hidden" th:value="${tempPwd}">-->
<!--            <input id="passwordCheck" name="passwordCheck"  th:type="hidden" th:value="${tempPwd2}">-->



            <!--            <div class="style">-->
<!--                <label th:text="#{register.password}" for="password" style="width: 50px">Passwort:</label>-->
<!--                <input id="password" name="password" th:field="*{password}" th:errorclass="fieldError"  type="password" required="required" />-->
<!--                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>-->
<!--            </div>-->

<!--            <br>-->

<!--            <div class="style">-->
<!--                <label th:text="#{register.password2}" for="password">Wiederholung:</label>-->
<!--                <input id="passwordCheck" name="passwordCheck" th:field="*{passwordCheck}" th:errorclass="fieldError" type="password" required="required"/><br/>-->
<!--                <p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}"></p>-->
<!--            </div>-->

<!--            <br>-->
<!--            <div class="style">-->
<!--                <input placeholder="altes Password" type="password" id="oldPassword" name="oldPassword" class="input" required="required" />-->
<!--            </div>-->

<!--            <br>-->



<!--            <div>-->
<!--                <input placeholder="neues Password" type="password" id="newPassword" name="newPassword" class="input" required="required" />-->
<!--            </div>-->

<!--            <br>-->

<!--            <div>-->
<!--                <input placeholder="neues Password bestätigen" type="password" id="newPassword1" name="newPassword1" class="input" required="required" />-->
<!--            </div>-->

<!--            <button class="button" type="submit" th:text="#{account.changePwd}">change password</button>-->

<!--        </form>-->

        <br>

        <div>
            <h2 style="color: red" th:text="${message}"></h2>
        </div>


    </main>

    <footer>
        <p>Mach Dein Glück!! ©Copyright 2021©</p>
    </footer>

</div>
</body>
</html>