<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link rel="stylesheet" href="style_changePassword.css">
</head>

<body class="backgrounds">
    <div class="container">
        <nav>
            <a href="https://www.bk.com/">HOME</a>
            <a href="https://www.bk.com/contact-us">KONTAKT</a>
            <a href="">KATALOG</a>
            <a href="">ABMELDEN</a>
        </nav>
        
        <main class="box-one">
            <h3 class="box-two">Mein Profil</h3>
            <h2 class="box-two">Warenkorb</h2>
        </main>

        <div class="box-three">
            <h2>Spiel 1</h2>
            <p>Mannschaft <b>Gast</b>: St. Pauli</p>
            <p>Mannschaft <b>Heim</b>: Regensburg</p>
            <p>Bundesliga: 2</p>
            <p>Datum: 01.01.2022</p>
            <p>Gewinnwahrscheinlichkeit: (St. Pauli) <b>2:1</b> (Regensburg)</p>
            <p>Einsatz: 5,00 Euro</p> 
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            <button type="submit" class="ui button" th:text="#{register.submit}">Wette stornieren</button></form></p>
                
            
            
        </div>

        <br>

        <div class="box-three">
            <h2>Spiel 7</h2>
            <p>Mannschaft <b>Gast</b>: St. Pauli</p>
            <p>Mannschaft <b>Heim</b>: Regensburg</p>
            <p>Bundesliga: 2</p>
            <p>Datum: 28.10.2021</p>
            <p>Gewinnwahrscheinlichkeit: (St. Pauli) <b>4:1</b> (Regensburg)</p>
            <p>Einsatz: 7,00 Euro</p>
            <p class="green">Status: Gewonnen</p>            
        </div>

        <br>        

        <div class="box-three">
            <h2>Spiel 8</h2>
            <p>Mannschaft <b>Gast</b>: Köln</p>
            <p>Mannschaft <b>Heim</b>: Freiburg</p>
            <p>Bundesliga: 1</p>
            <p>10.10.2021</p>
            <p>Gewinnwahrscheinlichkeit: (Köln) <b>1:5</b> (Freiburg)</p>
            <p>Einsatz: 20,00 Euro </p>
            <p class="red">Status: Verloren</p>
        </div>


        <footer>
            <p>Mach Dein Glück!! ©Copyright 2021©</p>
        </footer>

    </div>

</body>

</html>