<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link th:href="@{resources/css/style_statistic.css}" rel="stylesheet" href="../static/resources/css/style_statistic.css">
</head>



<body class="backgrounds">

        <!--<nav>
            <a href="https://www.bk.com/">HOME</a>
            <a class="item" href="contact.html" th:href="@{/contact}" th:text="#{nav.contact}">KONTAKT</a>
            <a href="">KATALOG</a>
            <a class="item" href="3_catalog_num.html" th:href="@{/zahlenlotterie}" th:text="#{nav.zahlkatalog}">ZAHLENLOTTERIE</a>
            <a class="item" href="2_catalog_foot.html" th:href="@{/football}" th:text="#{nav.footballkatalog}">FUSSBALLTOTO</a>
            <a href="">ANMELDEN</a>
            <a href="">REGISTRIEREN</a>
        </nav>   -->
        <nav th:include="navigation :: navigation" class="navcontainer"></nav>
        <div class="container">
        <main class="box-five">
            <h3 style="text-align: center">Kontakt</h3>
            <table border = "5" cellpadding = "5" cellspacing = "0"  class ="center" style="margin: auto; border-color: white">
                <tr>
                    <th></th>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Tel.Nummer</th>
                    <th>Erreichbar</th>
                </tr>
                <tr>
                    <td rowspan = "3"><b>Arbeiter</b></td>
                    <td>Manager</td>
                    <td>Juergen Staub</td>
                    <td>+49 0123 456789</td>
                    <td><b>09:00</b> - <b>17:00</b></td> 
                </tr>
                <tr>
                    <td>Service-Center</td>
                    <td>Franzi Ada</td>
                    <td>+49 0987 654321</td>
                    <td><b>06:00</b> - <b>22:00</b></td>
                </tr>
                <tr>
                    <td>Rezeption</td>
                    <td>Lucky Fuke</td>
                    <td>+49 01928 37465</td>
                    <td><b>06:00</b> - <b>22:00</b></td>
                </tr>
            </table>
        </main>

        
        <footer>
            <p>Mach Dein Glück!! ©Copyright 2021©</p>
        </footer>

    </div>

</body>

</html>