<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device - width, initial - scale = 1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>🍀 Mach Dein Glück!! 🍀</title>
        <link th:href="@{resources/css/style_foot.css}" rel="stylesheet"  type="text/css" href="../static/resources/css/style_foot.css">
    </head>
    <body class="backgrounds">

    <!--<nav>
        <a href="home.html">HOME</a>
        <a class="item" href="contact.html" th:href="@{/contact}" th:text="#{nav.contact}">KONTAKT</a>
        <a href="meinProfil.html">MEIN PROFIL</a>
        <a href="1_catalog.html">KATALOG</a>
    </nav>-->
    <nav th:include="navigation :: navigation" class="navcontainer"></nav>
    <div class="container">
        <main class="box-one">
            <h2 class="box-two">Übersicht der Wetten</h2>
        </main>


        <div th:each="numbet : ${numberBets}">
            <div class="box-three">
                <table>
                    <tr>
                        <td>Datum/Zeit der Abgabe: </td>
                        <td th:text="${numbet.DateFormat}">heute</td>
                    </tr>
                    <tr>
                        <td>Gültig bis: </td>
                        <td th:text="${numbet.FormatExp}">heute</td>
                    </tr>
                    <tr>
                        <td>Gültig bis: </td>
                        <td th:text="${numbet.expiration}">heute</td>
                    </tr>
                    <tr>
                        <td>Tipp: </td>
                        <td th:text="${numbet.numbers}">zahlen</td>
                    </tr>
                    <tr>
                        <td>Zusatzzahl: </td>
                        <td th:text="${numbet.additionalNum}">9</td>
                    </tr>
                    <tr>
                        <td>Einsatz: </td>
                        <td th:text="${numbet.inset}">10 Euro</td>
                    </tr>
                    <tr>
                        <td>Status: </td>
                        <td th:text="${numbet.status}" style="color: cornflowerblue">offen</td>
                    </tr>

                </table>
                <br>
                <form th:method="post" sec:authorize="hasRole('CUSTOMER')" th:action="@{/raiseNumBet}">
                    <input type="hidden" name="pid" value="0" th:value="${numbet.item.id}"/>
                    <input type="hidden" name="betid" value="0" th:value="${numbet.id}"/>
                    <table>
                        <tr>
                            <td style="width:210px"><label th:text="#{numbet.newinset}" >Neuer Einsatz</label></td>
                            <td><input field="*{newinset}" id="newinset" type="number" step=".01" name="newinset" th:min="${numbet.einsatz2}" required="required"/></td>
                        </tr>
                    </table>


                    </br></br>

                    <button class="button" type="submit" th:text="#{numbet.raisebet}" >Einsatz ändern</button>
                <br><br>
                </form>
                <form th:method="get" sec:authorize="hasRole('CUSTOMER')" th:action="@{/changeNums}">
                    <input type="hidden" name="item" value="0" th:value="${numbet.item.id}"/>
                    <input type="hidden" name="betid" value="0" th:value="${numbet.id}"/>
                    <button class="button" type="submit" th:text="#{numbet.changeTip}" >Tipp ändern</button>

                </form>


            </div>

        </div>
        <div th:each="footbet : ${footballBets}">
            <div class="box-three">

                <table>
                    <tr>
                        <td>Heim: </td>
                        <td th:text="${footbet.host}">FCB</td>
                    </tr>
                    <tr>
                        <td>Gast: </td>
                        <td th:text="${footbet.guest}">FCB</td>
                    </tr>
                    <tr>
                        <td>Spieltag: </td>
                        <td th:text="${footbet.MatchDay}">FCB</td>
                    </tr>
                    <tr>
                        <td>Datum/Zeit der Abgabe: </td>
                        <td th:text="${footbet.DateFormat}">FCB</td>
                    </tr>
                    <tr>
                        <td>Gültig bis: </td>
                        <td th:text="${footbet.FormatExp}">heute</td>
                    </tr>
                    <tr>
                        <td>Tipp: </td>
                        <td th:text="${footbet.tip}">FCB</td>
                    </tr>
                    <tr>
                        <td>Einsatz: </td>
                        <td th:text="${footbet.inset}" >offen</td>
                    </tr>
                    <tr>
                        <td>Status: </td>
                        <td th:text="${footbet.status}" style="color: cornflowerblue">offen</td>
                    </tr>
                </table>
                <br>
                <form th:method="post" sec:authorize="hasRole('CUSTOMER')" th:action="@{/raiseFootBet}">
                    <input type="hidden" name="pid" value="0" th:value="${footbet.item.id}"/>
                    <input type="hidden" name="betid" value="0" th:value="${footbet.id}"/>
                    <table>
                        <tr>
                            <td style="width:210px"><label th:text="#{footbet.newinset}" >Neuer Einsatz</label></td>
                            <td><input field="*{newinsetfoot}" id="newinsetfoot" type="number" step=".01" name="newinsetfoot" th:min="${footbet.einsatz2}" required="required"/></td>
                        </tr>
                    </table>


                    </br></br>

                    <button class="button" type="submit" th:text="#{footbet.raisebet}" >Einsatz ändern</button>
                <br><br>
                </form>
                <form th:method="get" sec:authorize="hasRole('CUSTOMER')" th:action="@{/changeFoot}">
                    <input type="hidden" name="item" value="0" th:value="${footbet.item.id}"/>
                    <input type="hidden" name="betid" value="0" th:value="${footbet.id}"/>
                    <button class="button" type="submit" th:text="#{footbet.changeTip}" >Tipp ändern</button>

                </form>


            </div>

        </div>
    </div>


    <br>



    <br>

    <footer>
        <p>Mach Dein Glück!! ©Copyright 2021©</p>
    </footer>



    </body>
</html>