<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/resources/js/guestbook.js}"></script>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link th:href="@{resources/css/style_statistic.css}" rel="stylesheet" href="../static/resources/css/style_statistic.css">
</head>
<body class="backgrounds">
<nav th:include="navigation :: navigation" class="navcontainer"></nav>

<!--<div class="checkbox text-center">
    <input type="checkbox" id="use_ajax" />
    <label for="use_ajax" th:text="#{guestbook.useajax}">Ajax nutzen</label>
</div>-->


<div class="container">
    <main class="box-seven">
        <h3 th:text="#{forum.title}">Forum</h3>
        <h5>Übersicht</h5>
        <table border = "5" cellpadding = "5" cellspacing = "0"  class ="center" style="margin: auto; border-color: white">
            <thead>
            <tr>
                <th>Thema</th>
                <th>Antworten</th>
                <th>Link</th>
            </tr>
            </thead>
            <tr th:each="theme:${themes}">
                <td th:text="${theme.getName()}"></td>
                <td th:text="${theme.getCount()}"></td>
                <td>
                   <!--<form method="get" th:action="@{/forum/{theme}(theme=${theme.getId()})}" th:value="${theme}"
                          sec:authorize="hasRole('CUSTOMER')" class="ui form" method="get" th:action="@{/theme}">
                        <button type="submit" class="ui button">Details</button>
                   </form>-->
                    <form sec:authorize="hasRole('CUSTOMER')" class="ui form" method="get" th:action="@{/theme}">
                        <input type="hidden" name="themeName" th:value="${theme.getName()}">
                        <button type="submit" class="ui button">Details</button>
                    </form>
                </td>
            </tr>
        </table>

        <div>
            <h5>Neues Thema erstellen</h5>
            <form sec:authorize="hasRole('CUSTOMER')" method="post" th:action="@{/forum}">

                <input name="title" type="text" required="required">
                <button type="submit" style="font-size: 14px">Bestätigen</button>
                <!--<input type="submit" style="font-size: 14px"/>-->
            </form>
        </div>

    </main>
</div>


<div class="container">
    <main class="box-seven">
        <div>
            <h3 th:text="#{forum.privateChat}"></h3>
            <h5>Übersicht</h5>
        </div>

        <table border = "5" cellpadding = "5" cellspacing = "0"  class ="center" style="margin: auto; border-color: white">
            <thead>
            <tr>
                <th>Person</th>
                <th>Antworten</th>
                <th>Link</th>
                <th>Geld absenden</th>
            </tr>
            </thead>
            <tr th:each="chat:${privateChats}">
                <td th:text="${chat.getPartners().get(1)}"></td>
                <td th:text="${chat.getCount()}"></td>
                <td>
                    <form sec:authorize="hasRole('CUSTOMER')" class="ui form" method="get" th:action="@{/chat}">
                        <input type="hidden" name="chatId" th:value="${chat.getId()}">
                        <button type="submit" class="ui button" style="font-size: 14px">Chat öffnen</button>
                    </form>
                </td>
                <td>
                    <form method="post" sec:authorize="hasRole('CUSTOMER')" th:action="@{/forum/sendMoney}">
                        <br>
                        <div>
                            <label th:text="#{charge.input2}">Wie viel Geld möchten Sie überweisen?</label>

                            <br><br>
                            <input field="*{money}" id="money" name="money" type="number" step=".01" required="required"/>
                            </br></br>
                            <input type="hidden" name="invitee" th:value="${chat.getPartners().get(1).getEmail()}">
                            <button class="button" type="submit" style="font-size: 14px" th:text="#{charge.charge2}" >Überweisen</button>
                        </div>
                    </form>
                </td>
            </tr>

            <div>
                <h2 style="color: white" th:text="${message}"></h2>
            </div>
        </table>

        <section>
            <form method="get" role="form" class="ui form" id="form" th:action="@{/search}">

                <h5>Neues Chat starten</h5>

                <input type="text" name = "invitee" required="required">
                <button type="submit" style="font-size: 14px">Bestätigen</button>
                <!--<input type="submit" style="font-size: 12px"/>-->
            </form>
        </section>
    </main>
</div>

<br>

<div class="container">
    <main class="box-seven">
        <h3 th:text="#{forum.groupChat}"></h3>
        <h5>Übersicht</h5>
        <table border = "5" cellpadding = "5" cellspacing = "0"  class ="center" style="margin: auto; border-color: white">
            <thead>
            <tr>
                <th>Gruppe</th>
                <th>Antworten</th>
                <th>Link</th>
            </tr>
            </thead>
            <tr th:each="groupChat:${groupChats}">
                <td th:text="${groupChat.getName()}"></td>
                <td th:text="${groupChat.getCount()}"></td>
                <td>
                    <form sec:authorize="hasRole('CUSTOMER')" class="ui form" method="get" th:action="@{/groupChat}">
                        <input type="hidden" name="groupChatName" th:value="${groupChat.getName()}">
                        <button type="submit" class="ui button">Details</button>
                    </form>
                </td>
            </tr>
        </table>
    </main>
    <footer>
        <p>Mach Dein Glück!! ©Copyright 2021©</p>
    </footer>
</div>



</body>
</html>