<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link th:href="@{resources/css/style_statistic.css}" rel="stylesheet" href="../static/resources/css/style_statistic.css">
</head>



<body class="backgrounds">
<nav th:include="navigation :: navigation"></nav>
<div class="container">
    <main style="height: 1000px">

        <h3>Gewinngemeinschaft</h3>


        <table border = "5" cellpadding = "5" cellspacing = "0"  class ="center" style="margin: auto; border-color: white">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Leader</th>
                    <th>Members</th>
                </tr>
            </thead>
            <tr th:each="group : ${groupList}">
                <td th:text="${group.groupName}">group1</td>
                <td th:text="${group.getPassword()}">pwd</td>
                <td th:text="${group.getLeader()}">Leader</td>
                <td th:text="${group.getMembers()}">Customer</td>
            </tr>
        </table>


        <div class="ui two column centered grid">
            <div class="four column centered row">
<!--                <div class="column">-->
<!--                    <form sec:authorize="hasRole('CUSTOMER')" class="ui form" method="get" th:action="@{/group_create}">-->
<!--                        <button type="submit" class="ui button" th:text="#{group.create}">create</button>-->
<!--                    </form>-->
<!--                </div>-->
                <a  href="group_create.html" th:href="@{/group_create}" sec:authorize="hasRole('CUSTOMER')">Gruppe Einrichten</a>
                <a  href="group_join.html" th:href="@{/group_join}" sec:authorize="hasRole('CUSTOMER')">Gruppe teilnehmen</a>
<!--                <div class="column">-->
<!--                    <form sec:authorize="hasRole('CUSTOMER')" class="ui form" method="get" th:action="@{/group_join}">-->
<!--                        <button type="submit" class="ui button" th:text="#{group.join}">join</button>-->
<!--                    </form>-->
<!--                </div>-->
            </div>
        </div>

    </main>

    <footer>
        <p>Mach Dein Glück!! ©Copyright 2021©</p>
    </footer>

</div>
</body>
</html>