<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link th:href="@{resources/css/style_statistic.css}" rel="stylesheet" href="../static/resources/css/style_statistic.css">
</head>
<body class="backgrounds">
<nav th:include="navigation :: navigation"></nav>
<section>
    <table class="center">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" member : ${members}">
            <td th:text="${member}">Name</td>
            <td th:text="${member.userAccount.getEmail()}">Email</td>
        </tr>
        </tbody>
    </table>
</section>

<footer>
    <p>Mach Dein Glück!! ©Copyright 2021©</p>
</footer>
</body>
</html>
