<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link rel="stylesheet" href="style_home.css">
</head>

<body class="backgrounds">
    <div class="container">
        <br>
        <nav>
            <a href="index.html">HOME</a>
            <a href="kontakt.html">KONTAKT</a>
            <a href="">ANMELDEN</a>
            <a href="register.html">REGISTRIEREN</a>
        </nav>

        <main>
            <h1>Mach Dein Glück!!</h1>
            <p>Mach Dein Glück ist eine Lotterie und damit ein Glücksspiel, bei dem der Spieler gegen einen finanziellen Einsatz auf das Ziehen vorher getippter Zahlen aus einer begrenzten Zahlenmenge setzt.
                Spieler können nebenbei auch auf das Resultat einer oder mehrerer Fußballspiele wetten.
            </p>
            <a class="item" href="3_catalog_num.html" th:href="@{/zahlenlotterie}" th:text="#{nav.zahlkatalog}">ZAHLENLOTTERIE</a>

            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;
            &ensp;            

            <a class="item" href="2_catalog_foot.html" th:href="@{/football}" th:text="#{nav.footballkatalog}">FUßBALLTOTO</a>
        </main>

        <div class="box-one">
            <h3>Information for international players</h3>
            <p>For players from all around the globe as well as from Germany, we offer an online world of betting filled with excitement and joy.</p>
            <p> GO AHEAD AND REGISTER AT THE TOP RIGHT NOW! </p>
        </div>
        
        <div class="box-two">
            <h3>Filialen</h3>
            <p>Falls Sie Fragen haben, dann kommen Sie gerne vorbei an eine von unseren Filialen. Wir helfen Ihnen weiter.
                Wir sind auch mittels unseren Service-Team täglich von 6-22 Uhr telefonisch erreichbar. Informieren Sie sich bitte im Kontakt-Tab oben im Menü.</p> 
        </div>

        <section class="maps"></section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d160710.50681992306!2d13.605973843575681!3d50.995793362834384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4709c59bfb4aa987%3A0xf905ebd3a218ade3!2sLotto%20Tabak%20%26%20Mehr!5e0!3m2!1sde!2sde!4v1635339960504!5m2!1sde!2sde"
         width="780" height="600" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
        <div class="box-three">
            <h3>Spielregeln der Zahlenloterie</h3>
            <p>
                Für die jenigen, für welche das Prinzip der Zahlenloterie, d.h. 6 aus 49, unbekannt ist, haben unsere Kollegen aus LOTTO.de ein kurzes Film gedreht.
            </p>
        </div>

        <br><br><br><br><br>

        <iframe width="780" height="500" src="/Users/mirekkral/Documents/ProjectHTML/2Project/LOTTO 6aus49.mp4" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>

        <br><br>

        <footer>
            <p>Mach Dein Glück!! ©Copyright 2021©</p>
        </footer>

    </div>

</body>

</html>