<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link th:href="@{resources/css/style_inventory.css}" rel="stylesheet" href="../static/resources/css/style_inventory.css">
</head>

<body class="backgrounds">
    <div class="container">
        <nav>
            <a href="https://www.bk.com/">HOME</a>
            <a href="https://www.bk.com/contact-us">KONTAKT</a>
            <a href="">KATALOG</a>
            <a href="">ABMELDEN</a>
        </nav>
        
        <main class="box-one">
            <h3 class="box-two">Mein Profil</h3>
            <h2 class="box-two">Warenkorb</h2>
        </main>

        <div class="box-three">
            <h2>Spiel 4</h2>
            <p>Mannschaft <b>Gast</b>: Bayern</p>
            <p>Mannschaft <b>Heim</b>: Leipzig</p>
            <p>Bundesliga: 1</p>
            <p>Datum: 10.10.2021</p>
            <p>Gewinnwahrscheinlichkeit: (Bayern) <b>2:1</b> (Leipzig)</p>
            <p>Einsatz: 20,00€  
                &ensp;
                &ensp;
                &ensp;
                &ensp;
                &ensp;
                &ensp;
                &ensp;
                &ensp;
                &ensp;
                &ensp;
            <button type="submit" class="ui button" th:text="#{register.submit}">Wette stornieren</button></form></p>
            
        </div>

        <br>

        <div class="box-three">
            <h2>Spiel 5</h2>
            <p>Mannschaft <b>Gast</b>: Düsseldorf</p>
            <p>Mannschaft <b>Heim</b>: Bremen</p>
            <p>Bundesliga: 2</p>
            <p>Datum: 23.01.2022</p>
            <p>Gewinnwahrscheinlichkeit: (Düsseldorf) <b>4:1</b> (Bremen)</p>
            <p>Einsatz: 7,00 Euro</p>
            <p class="green">Status: Gewonnen</p>            
        </div>

        <br>        

        <div class="box-three">
            <h2>Spiel 6</h2>
            <p>Mannschaft <b>Gast</b>: Darmstadt</p>
            <p>Mannschaft <b>Heim</b>: Karlsruhe</p>
            <p>Bundesliga: 2</p>
            <p>10.10.2021</p>
            <p>Gewinnwahrscheinlichkeit: (Darmstadr) <b>1:5</b> (Karlsruhe)</p>
            <p>Einsatz: 30,00 Euro </p>
            <p class="red">Status: Verloren</p>
        </div>

        <div class="box-four">
            <h2>Tippschein</h2>
            <p>Getippte Zahlen: <b>1, 6, 10, 34, 35 ,47</b></p>
            <p>Datum: 10.10.2021</p>
            <p>Preis des Tippscheins: 4.00 Euro</p>
            <p class="green">Gewinn: 3.50 Euro</p>

        </div>
        <footer>
            <p>Mach Dein Glück!! ©Copyright 2021©</p>
        </footer>

    </div>

</body>

</html>