<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/resources/css/style_kontakt.css}" rel="stylesheet"
          href="../static/resources/css/style_kontakt.css" type="text/css"/>

    <title th:text="#{kontakt.title}">KONTAKT</title>
</head>



<body class="backgrounds">
    <div class="container">  
        <nav th:fragment="navigation">
            <a th:href="@{/}" th:text="#{nav.home}">HOME</a>
            <a href="https://www.bk.com/contact-us">KONTAKT</a>
            <a href="">KATALOG</a>
            <a href="">ANMELDEN</a>
            <a href="">REGISTRIEREN</a>
        </nav>   
          
        <main>
            <h3>Kontakt</h3>
            <table border = "5" cellpadding = "5" cellspacing = "0"  class ="center">
                <tr>
                    <th></th>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Tel.Nummer</th>
                    <th>Erreichbar</th>
                </tr>
                <tr>
                    <td rowspan = "3"><b>Arbeiter</b></td>
                    <td>Manager</td>
                    <td>Juergen Staub</td>
                    <td>+49 0123 456789</td>
                    <td><b>09:00</b> - <b>17:00</b></td> 
                </tr>
                <tr>
                    <td>Service-Center</td>
                    <td>Franzi Ada</td>
                    <td>+49 0987 654321</td>
                    <td><b>06:00</b> - <b>22:00</b></td>
                </tr>
                <tr>
                    <td>Rezeption</td>
                    <td>Lucky Fuke</td>
                    <td>+49 01928 37465</td>
                    <td><b>06:00</b> - <b>22:00</b></td>
                </tr>
            </table>
        </main>

        
        <footer>
            <p>Mach Dein Glück!! ©Copyright 2021©</p>
        </footer>

    </div>

</body>

</html>