<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link th:href="@{resources/css/style_statistic.css}" rel="stylesheet" href="../static/resources/css/style_statistic.css">
</head>

<body class="backgrounds">

<nav th:include="navigation :: navigation" class="navcontainer"></nav>
<div class="container" >
    <main class="box-one">
        <h3 th:text="#{myProfile.title}">Mein Profil</h3>
        <h2>Persönliche Daten</h2>
        <table border = "5" cellpadding = "5" cellspacing = "0" align="left" class="table-meinProfil">
">
            <tr>
                <td><div th:text="#{myProfile.firstname}"></div></td>
                <td><div th:text="#{myProfile.lastname}"></div></td>
                <td><div th:text="#{myProfile.email}"></div></td>
            </tr>
            <tr>
                <td><div th:text="${firstname}"></div></td>
                <td><div th:text="${lastname}"></div></td>
                <td><div th:text="${email}"></div></td>
            </tr>
        </table>

        <br>
        <br>
        <br>
        <br>

        <h2>Mach Dein Glück!!</h2>

        <a href="customer_bets.html" th:href="@{/customer_bets}" sec:authorize="isAuthenticated()" style="text-decoration: none">Wetten anzeigen</a>

        <br>
        <br>


        <a href="balance.html" th:href="@{/balance}" sec:authorize="hasRole('CUSTOMER')"style="text-decoration: none"> Guthaben anzeigen</a>

        <br>
        <br>


        <a href="group_create.html" th:href="@{/group_create}" sec:authorize="hasRole('CUSTOMER')" style="text-decoration: none"> Gewinngemeinschaft erstellen</a>

        <br>
        <br>

        <a href="group_join.html" th:href="@{/group_join}" style="text-decoration: none"> Gewinngemeinschaft betreten</a>

        <br>
        <br>

        <h2>Einstellungen</h2>
        <a href="changePassword.html" th:href="@{/changePassword}" sec:authorize="hasRole('CUSTOMER')" style="text-decoration: none">Passwort ändern</a>


        <br>
        <br>

        <a href="accountDeactivate.html" th:href="@{/accountDeactivate}" sec:authorize="hasRole('CUSTOMER')" style="text-decoration: none">Profil löschen</a>


    </main>


    <footer>
        <p>Mach Dein Glück!! ©Copyright 2021©</p>
    </footer>

</div>

</body>

</html>