<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link th:href="@{resources/css/style_meinProfil.css}" rel="stylesheet" href="../static/resources/css/style_meinProfil.css">
</head>

<body class="backgrounds">
    <div class="container">
        <nav>
            <a href="https://www.bk.com/">HOME</a>
            <a href="https://www.bk.com/contact-us">KONTAKT</a>
            <a href="">KATALOG</a>
            <a href="">ABMELDEN</a>
        </nav>
        
        <main class="box-one">
            <h3 class="box-two">Mein Profil</h3>
            <h2 class="box-two">Persönliche Daten</h2>
            <div>
                <label for="name"><h4>Vorname:</h4></label>
                <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>

            <div>
                <label for="name"><h4>Nachname:</h4></label>
                <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>

            <div>
                <label for="name"><h4>Tel-.Nummer:</h4></label>
                <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>

            <div>
                <label for="name"><h4>E-mail:</h4></label>
                <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>

            <br><br>

            <button type="submit" class="ui button" th:text="#{register.submit}">Daten speichern</button>
            
            <br><br>

            <h2 class="box-two">Mach Dein Glück!!</h2>

            <a href="" target="_blank"> Warenkorb anzeigen</a>
            <br></br>
            <a href="" target="_blank"> Geld überweisen</a>
            <br></br>
            <a href="" target="_blank"> Guthaben anzeigen</a>

            <h2 class="box-two">Einstellungen</h2>
            <a href="" target="_blank"> Passwort ändern</a>
            <br></br>
            <a href="" target="_blank"> Profil löschen</a>
            

        </main>

        <footer>
            <p>Mach Dein Glück!! ©Copyright 2021©</p>
        </footer>

    </div>

</body>

</html>