<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navigation">
  <a th:href="@{/}" th:text="#{nav.home}">HOME</a>
  <a th:href="@{/kontakt}" th:text="#{nav.kontakt}">KONTAKT</a>
  <a th:href="@{/lottery_catalog}" th:text="#{nav.lottery_catalog}">LOTTERIE</a>
  <a th:href="@{/meinProfil}" sec:authorize="isAuthenticated()" th:text="#{nav.meinProfil}">MEIN PROFIL</a>
  <a th:href="@{/register}" sec:authorize="!hasAnyRole('ADMIN','CUSTOMER')" th:text="#{nav.register}">REGISTRIERUNG</a>
  <a th:href="@{/login}" sec:authorize="!isAuthenticated()" th:text="#{nav.login}">Login</a>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
      <button type="submit" class="ui button" th:text="#{nav.logout}">Logout</button>
    </form>
</nav>

</body>
</html>