<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <nav th:fragment="navigation">
            <a  href="home.html" th:href="@{/}" th:text="#{nav.home}">HOME</a>
            <a  href="3_catalog_num.html" th:href="@{/zahlenlotterie}" th:text="#{nav.zahlkatalog}">ZAHLENLOTTERIE</a>
            <a  href="2_catalog_foot.html" th:href="@{/football}" th:text="#{nav.footballkatalog}">FUSSBALLTOTO</a>
            <a  href="contact.html" th:href="@{/contact}" th:text="#{nav.contact}">KONTAKT</a>
            <a href="meinProfil.html" th:href="@{/myprofile}" sec:authorize="hasRole('CUSTOMER')" th:text="#{nav.myprofile}">MEIN PROFIL</a>
            <!--<a class="item" href="register.html" th:href="@{/register}" th:text="#{nav.register}">Registrierung</a>
            <a href="#">ANMELDEN</a>-->
            <a href="customer_bets.html" th:href="@{/showbets}" sec:authorize="hasRole('CUSTOMER')" th:text="#{nav.wetten}">WETTEN</a>
            <a  href="register.html" th:href="@{/register}" sec:authorize="!hasAnyRole('ADMIN', 'CUSTOMER')" th:text="#{nav.register}">REGISTRIERUNG</a>
            <a  th:href="@{/login}" sec:authorize="!isAuthenticated()" th:text="#{nav.login}">Login</a>
            <!--<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <button type="submit" class="ui button" th:text="#{nav.logout}">Logout</button>
            </form>-->
            <a th:href="@{/logout}" sec:authorize="isAuthenticated()" th:text="#{nav.logout}" >Logout</a>
        </nav>

</body>
</html>