<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device - width, initial - scale = 1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>🍀 Mach Dein Glück!! 🍀</title>
  <link th:href="@{resources/css/style_foot.css}" rel="stylesheet" href="../static/resources/css/style_foot.css" type="text/css">



</head>

<body class="backgrounds" >
<div class="container">
  <main class="box-one">
    <div style="font-size: 35px; text-align: left">Achtung! Sie sind noch in einer Gruppe eingetragen.</div>
  </main>
  <div class="box-three">
    </br>
    Wie möchten Sie fortfahren?
    </br>
    <form th:method="post" th:action="@{/registerGroup}">
      <button class="button" type="submit" th:text="#{newGroup}"><a style="color:black">Gruppe erstellen</a></button>
    </form>
      </br>
    <form th:method="post" th:action="@{/timeup}">
      <button class="button" type="submit" th:text="#{timeup}"><a style="color:black">Zur Homepage</a></button>
    </form>
    </br>
    </br>


  </div>
  <footer>
    <p>Mach Dein Glück!! ©Copyright 2021©</p>
  </footer>
  </div>
</body>
</html>