<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link th:href="@{resources/css/style_register.css}" rel="stylesheet" href="../static/resources/css/style_register.css"
          type="text/css">
</head>

<body class="backgrounds">
    <nav th:include="navigation :: navigation"></nav>
    <div class="container">
        <main>
            <section>
                <form method="post" role="form" class="ui form" id="form" th:action="@{/register}" th:object="${registrationForm}">
                    <h3 class="ui dividing header" th:text="#{register.userdata}">Registrieren</h3>
                    <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
                        <p>Einige eingaben sind nicht korrekt.</p>
                    </div>

                    <h4>Kriterien</h4>
                    
                    <div class= "field">
                        <ol>
                            <li>Name darf nicht leer sein.</li>
                            <li>Passwort muss mindestens einen Großbuchstaben enthalten.</li>
                            <li>Passwort muss mindestens eine Zahl enthalten.</li>
                            <li>Password muss mindestens 8 Zeichen enthalten.</li>
                        </ol>
                    </div>

                    <br>

                    <div class="field">
                        <label for="name">Name:</label>
                        <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required"/><br/>
                        <div class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>

                    <br>

                    <div class="field">
                        <label th:text="#{register.password}" for="password">Password:</label>
                        <input id="password" name="password" th:field="*{password}" th:errorclass="fieldError" type="password"
                               required="required"/><br/>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    </div>

                    <br>

                    <div class="field">
                        <label th:text="#{register.passwordCheck}" for="password">Password-Check:</label>
                        <input id="passwordCheck" name="password" th:field="*{password}" th:errorclass="fieldError" type="password"
                               required="required"/><br/>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    </div>

                    <br>

                    <button type="submit" class="ui button" th:text="#{register.submit}">Registrieren</button>
                </form>
            </section>
        </main>

        <footer>
            <p>Mach Dein Glück!! ©Copyright 2021©</p>
        </footer>

    </div>

</body>

</html>