<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device - width, initial - scale = 1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>🍀 Mach Dein Glück!! 🍀</title>
  <link th:href="@{resources/css/style_statistic.css}" rel="stylesheet" href="../static/resources/css/style_statistic.css">
</head>



<body class="backgrounds">
<nav th:include="navigation :: navigation"></nav>
<div class="container_statistic">
  <main class="box-seven">

    <h3>Statistik</h3>

    <table border = "5" cellpadding = "5" cellspacing = "0"  class ="center" style="margin: auto; border-color: white">
      <thead>
      <tr>
        <th></th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Email</th>
        <th>Wette</th>
      </tr>
      </thead>
      <tr th:each="customer:${customers}">
        <td th:text="${customer.getId()}"></td>
        <td th:text="${customer.getUserAccount().getFirstname()}"></td>
        <td th:text="${customer.getUserAccount().getLastname()}"></td>
        <td th:text="${customer.getUserAccount().getEmail()}"></td>
        <td>
          <form sec:authorize="hasRole('ADMIN')" class="ui form" method="get" th:action="@{/statistic_bets}">
            <input type="hidden" name="id" th:value="${customer.getId()}">
            <button type="submit" class="ui button" th:text="#{statistic.bet}">Einkommen/Verluste</button>
          </form>
        </td>
      </tr>
    </table>
  </main>

  <footer>
    <p>Mach Dein Glück!! ©Copyright 2021©</p>
  </footer>

</div>

</body>

</html>