<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device - width, initial - scale = 1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>🍀 Mach Dein Glück!! 🍀</title>
  <link th:href="@{resources/css/style_statistic.css}" rel="stylesheet" href="../static/resources/css/style_statistic.css">
</head>



<body class="backgrounds">
<nav th:include="navigation :: navigation" class="navcontainer"></nav>
<div class="container">
  <main style="height: 1000px">
    <h3>Verluste und Einkommen</h3>

    <table border = "5" cellpadding = "5" cellspacing = "0"  class ="center" style="margin: auto; border-color: white">
      <thead>
        <th>Fußball</th>
        <th>Einkommen</th>
        <th>Verluste</th>
      </thead>
      <tr>
        <td><div th:text="${football}"></div>
      </tr>
    </table>

    <br><br>

    <table border = "5" cellpadding = "5" cellspacing = "0"  class ="center" style="margin: auto; border-color: white">

      <thead>
      <th>Zahlen</th>
      <th>Einkommen</th>
      <th>Verluste</th>
      </thead>
      <tr>
        <td><div th:text="${number}"></div>
      </tr>



    </table>
  </main>

  <footer>
    <p>Mach Dein Glück!! ©Copyright 2021©</p>
  </footer>

</div>

</body>

</html>