<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/resources/js/guestbook.js}"></script>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link th:href="@{resources/css/style_statistic.css}" rel="stylesheet" href="../static/resources/css/style_statistic.css">

    <script type="text/javascript" src="js/jquery-3.3.1.js" ></script>
    <script type="text/javascript" src="js/bootstrap.min.js" ></script>
</head>
<body class="backgrounds">
<nav th:include="navigation :: navigation" class="navcontainer"></nav>

<!--<div class="checkbox text-center">
    <input type="checkbox" id="use_ajax" />
    <label for="use_ajax" th:text="#{guestbook.useajax}">Ajax nutzen</label>
</div>-->



<div class="container">
    <div class="forumBackground">
        <h3 th:text="#{forum.title}">Forum</h3>
        <h5 th:value="${themeName}"></h5>
    </div>

    <br><br>

    <div id="entries">
        <div th:each="forum, it : ${forums}" th:with="index = ${it.count}" class="box-eight" style="padding-top: 1px">
            <div>
                <form sec:authorize="hasRole('ADMIN')" th:method="delete" th:action="@{/forum/{id}(id=${forum.getId()})}" th:attr="data-entry-id=${forum.getId()}">
                    <button th:title="#{forum.form.delete}" style="font-size: 14px"></button>
                </form>
                <h5 th:text="${index} + '. ' + ${forum.getName()}">1. Posting</h5>
            </div>

            <table border = "3" cellpadding = "4" cellspacing = "0"  class ="center" style="border-color: white">

                <tr>
                    <th>Name/E-mail</th>
                    <td><div th:text="${forum.getEmail()}"></div></td>
                </tr>

                <tr>
                    <th>Datum</th>
                    <td><div th:text="${#temporals.format(forum.getDate(), 'dd. MMMM yyyy - HH:mm')}">Datum</div></td>
                </tr>

                <tr>
                    <th>Text</th>
                    <td><blockquote th:text="${forum.getText()}"></blockquote></td>
                </tr>



                <!--<tr style="color: white">
                    <th><div th:text="${entry.email}"></div></th>
                    <th><div th:text="${#temporals.format(entry.date, 'dd. MMMM yyyy - HH:mm')}">Datum</div></th>
                    <th><blockquote th:text="${entry.text}"></blockquote></th>

                </tr>
                -->
            </table>

            <br>
            <div>
                <span th:text="${forum.likedCount}">liked</span>
                <form method="post" th:action="@{/theme/like/{id}(id=${forum.getId()})}" sec:authorize="hasRole('CUSTOMER')">
                    <button type="submit" style="font-size: 14px">Like</button>
                </form>
            </div>
            <br>
            <div>
                <span th:text="${forum.unlikedCount}">unliked</span>
                <form method="post" th:action="@{/theme/unlike/{id}(id=${forum.getId()})}" sec:authorize="hasRole('CUSTOMER')">
                    <button type="submit" style="font-size: 14px">Disike</button>
                </form>
            </div>
        </div>

        <br>

        <div class="box-seven">
            <div> <form method="post" role="form" id="form" th:action="@{/theme/{name}(name=${themeName})}" th:object="${form}" sec:authorize="hasRole('CUSTOMER')">
                <!--            <div>
                                <label for="name" th:text="#{forum.form.name}">Name</label><br />
                                <input type="text" th:field="*{name}" th:errorclass="is-invalid" required="required" />
                                <div th:if="${#fields.hasErrors('name')}" th:text="#{forum.form.name.required}">Please provide a name.</div>
                            </div>-->
                <input id="name" name="name" type="hidden" th:value="${name}" />
                <div>
                    <label for="text" th:text="#{forum.form.text}">Text</label><br />
                    <textarea th:field="*{text}" th:errorclass="is-invalid" required="required"></textarea>
                    <div th:if="${#fields.hasErrors('text')}" th:text="#{forum.form.text.required}">Please provide a text.</div>
                </div>
                <input id="email" name="email" type="hidden" th:value="${email}" />
                <!--            <div>
                                <label for="email" th:text="#{forum.form.email}">Email</label><br />
                                <input type="email" th:field="*{email}" th:errorclass="is-invalid" required="required" />
                                <div th:if="${#fields.hasErrors('email')}" th:text="#{forum.form.email.required}">Please provide a email.</div>
                            </div>-->
                <input type="submit" th:value="#{forum.form.submit}" value="Senden" />
            </form>
            </div>
        </div>
        <footer>
            <p>Mach Dein Glück!! ©Copyright 2021©</p>
        </footer>
    </div>
    <!--

                <div th:fragment="entry" th:id="entry+${entry.id}">
                    <div>
                        <form sec:authorize="hasRole('ADMIN')" th:method="delete" th:action="@{/forum/{id}(id=${entry.id})}" th:attr="data-entry-id=${entry.id}">
                            <button th:title="#{forum.form.delete}"></button>
                        </form>
                        <5 th:text="${index} + '. ' + ${entry.name}">1. Posting</h5>
                    </div>
                    <div>
                        <blockquote th:text="${entry.text}"></blockquote>
                    </div>
                    <div>
                        <a th:text="${entry.email}"></a>
                    </div>
                    <div>
                        <a style="color: white" th:text="${#temporals.format(entry.date, 'dd. MMMM yyyy - HH:mm')}">Datum</a>
                    </div>
                </div>
            </div>
            <br>
        </div>

        -->

</body>

</html>