<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🍀 Mach Dein Glück!! 🍀</title>
    <link rel="stylesheet" href="style_welcome.css">
</head>

<body class="backgrounds">
    <div class="container">
        <nav>
            <a href="https://www.bk.com/">HOME</a>
            <a href="https://www.bk.com/contact-us">KONTAKT</a>
            <a href="">MEIN PROFIL</a>
        </nav>

        <main class="box-one">
            <h3>Herzlich Wilokmmen!</h3>
            <h4>Los geht's, Mach Dein Glück!! </h4>
        </main>

        <footer>
            <p>Mach Dein Glück!! ©Copyright 2021©</p>
        </footer>

    </div>

</body>

</html>